### Project Overview 
- For this project compare the Volatility Market and the 10 Year Trearury. Since both markets are inversely coorelated to the Capital Market what indicators can you use to predict or forecast the 10 year Treasury.

In [15]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import matplotlib.pyplot as plt

In [16]:
tickers = ["^VIX", "UVXY"]

In [17]:
vol_data = pd.DataFrame()

In [18]:
for t in tickers:
    vol_data[t] = web.DataReader(t, data_source="yahoo", start = "2012-1-1")["Adj Close"]

In [19]:
vol_data

                 ^VIX          UVXY
Date
2012-01-03  22.969999  6.528000e+07
2012-01-04  22.219999  6.276000e+07
2012-01-05  21.480000  5.988000e+07
2012-01-06  20.629999  5.796000e+07
2012-01-09  21.070000  5.622000e+07
...               ...           ...
2020-06-12  36.090000  4.046000e+01
2020-06-15  34.400002  3.880000e+01
2020-06-16  33.669998  3.769000e+01
2020-06-17  33.470001  3.753000e+01
2020-06-18  33.029999  3.752000e+01

[2129 rows x 2 columns]

### Lets get 10year treasury rate

In [22]:
ten_year = pd.read_csv("resources/10year_treasury.csv", parse_dates=True, index_col="DATE")

In [30]:
ten_year.replace(["."], np.nan, inplace=True)

In [31]:
ten_year["DGS10"] = pd.to_numeric(ten_year['DGS10'])

In [35]:
ten_year.isnull().sum()

DGS10    220
dtype: int64

####  Dropping Nulls

In [39]:
working_data_tenyear = ten_year.loc["2012-01-03":]

In [43]:
working_data_vol = vol_data.loc["2012-1-3":"2020-06-11"]

In [44]:
working_data_vol

                 ^VIX          UVXY
Date
2012-01-03  22.969999  6.528000e+07
2012-01-04  22.219999  6.276000e+07
2012-01-05  21.480000  5.988000e+07
2012-01-06  20.629999  5.796000e+07
2012-01-09  21.070000  5.622000e+07
...               ...           ...
2020-06-05  24.520000  2.755000e+01
2020-06-08  25.809999  2.847000e+01
2020-06-09  27.570000  3.059000e+01
2020-06-10  27.570000  3.034000e+01
2020-06-11  40.790001  4.556000e+01

[2124 rows x 2 columns]

In [45]:
working_data_tenyear

            DGS10
DATE
2012-01-03   1.97
2012-01-04   2.00
2012-01-05   2.02
2012-01-06   1.98
2012-01-09   1.98
...           ...
2020-06-05   0.91
2020-06-08   0.88
2020-06-09   0.84
2020-06-10   0.75
2020-06-11   0.66

[2203 rows x 1 columns]

In [46]:
final_data = pd.concat([working_data_tenyear, working_data_vol], axis=1)

In [49]:
final_data.corr()

          DGS10      ^VIX      UVXY
DGS10  1.000000 -0.440183 -0.142569
^VIX  -0.440183  1.000000  0.105737
UVXY  -0.142569  0.105737  1.000000